<!DOCTYPE html>
<html>
<head>
  <title>Payment</title>
  <%= stylesheet_link_tag    "payment/application", :media => "all" %>
  <%= javascript_include_tag "payment/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
